@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
body {
  font-family: 'Rocher';
  text-align: center;
  font-size: 50px;
  height: 100vh;
  background-color: #D8F7F2;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}
h1 {
  margin: 0;
}
@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.heading {
  font-palette: --Mint;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 10px;

}
.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}


.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  margin-top: 20px; /* Adjust as needed */
  text-align: center;
}

/* Add any additional CSS styles as needed */

/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-74 {
  margin: 0 10px;
}

.level-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

