

 @font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  font-family: 'Rocher';
  text-align: center;
  font-size: 50px;
  height: 100vh;
  background-color: #D8F7F2;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.heading {
  font-palette: --Mint;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 10px;
  z-index: 3;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.audio-player {
  position: absolute;
  top: 5px;
  right: 10px;
 
  z-index: 2;
}

.timer {
  position: absolute;
  top: 80px;
  right: 10px;
  font-size: 30px;
  z-index: 2;
}

.level-container {
  position: relative;
  z-index: 1;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 103, 101, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .popup-content {
    width: 80%;
    max-width: 700px;
  }
}

.instructions-heading {
  color: rgb(225, 179, 179);
  font-size: 30px;
}

.instructions-list {
  color: #000000;
  font-size: 25px;
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.small-button {
  font-size: 19px;
  padding: 0 12px;
  line-height: 35px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}